<p class = 'steps'><%= @activity.current_step + 1 %> of 3</p>

<%= form_for @activity do |form| %>
  <%= form.hidden_field :current_step, value: @activity.current_step %>

  <%= render "activities/steps/step_#{@activity.current_step + 1}", f: form %>

  <%= form.submit "Back", name: "back" unless @activity.first_step? %>
  <%= form.submit @activity.last_step? ? "Submit" : "Next" %>
<% end %>
